<template>
  <q-page padding>
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/"></q-breadcrumbs-el>
        <q-breadcrumbs-el :label="name" icon="widgets" :to="'/wards/' + name"></q-breadcrumbs-el>
        <q-breadcrumbs-el :label="patient.name" icon="person"></q-breadcrumbs-el>
      </q-breadcrumbs>
    </div>
    <!-- content -->
    <div v-if="gotPat">
      <div class="patientData">
        <q-avatar size="25vh">
          <img :src="imgUrl()" alt="foto van de patient">
        </q-avatar>
        <div class="flex-column">
          <h3 class="low-margin">{{patient.name}}</h3>
          <p>{{name}}</p>
          <p>kamer: {{roomnumber}}</p>
        </div>
      </div>
      <div class="info">
        <p>bahandelend arts: <b>{{patient.doctor}}</b></p>
        <p>reden van opname: <b>{{patient.reason}}</b></p>
        <p>datum van opname: <b>{{patient.adm_date}}</b></p>
        <q-toggle v-model="patient.vegitarian" @input="updatePat" label="vegetarisch"></q-toggle>
        <div class="q-pa-md" style="max-width: 60vw">
          <q-input label="opmerkingen" @blur="updatePat" v-model="patient.remarks" autogrow filled></q-input>
        </div>
        <q-toggle v-model="comps" label="show completed actions"></q-toggle>
        <q-list bordered padding>
          <action-component tag="label" v-for="(action, index) in visActions" :key="action.id" :action="action" :disabled="dis(action)" @update="updateAction($event, index)" @delete="deleteAction($event, index)">
          </action-component>
          <q-item>
            <h3>nieuw item aanmaken</h3>
          </q-item>
          <action-component @update="newAction($event)"></action-component>
        </q-list>
      </div>
    </div>
    <div v-if="!gotPat">
      <h1>Patient niet gevonden</h1>
    </div>
  </q-page>
</template>

<script>
import actionComponent from '../components/action'
export default {
  name: 'patientDetail',
  components: {
    actionComponent
  },
  props: {
    id: String,
    name: String
  },
  data: function () {
    return {
      patient: {},
      gotPat: false,
      ward: {},
      actions: [],
      comps: true
    }
  },
  methods: {
    getPatient: function () {
      return this.$store.dispatch('hospitaal/getPatient', { self: this, patientId: this.id })
    },
    imgUrl: function () {
      return '/statics/patients/' + this.patient.name.match('(.*) (.*)')[1] + '.jpg'
    },
    getActions: function () {
      return this.$store.dispatch('hospitaal/getActions', { self: this, patientId: this.id }).catch(e => {})
    },
    getRoom: function () {
      return this.$store.dispatch('hospitaal/getWard', { self: this, wardName: this.name }).catch(e => {})
    },
    updatePat: function () {
      let foo = { ...this.patient }
      delete foo.actions
      this.$store.dispatch('hospitaal/updatePatient', { patient: foo }).then(r => { this.$q.notify('patient has been updated') })
    },
    dis: function (action) {
      let list = ['eten', 'wassen', 'omkeren']
      console.log(list.indexOf(action.type) === -1)
      return list.indexOf(action.type) === -1
    },
    updateAction: function (action, index) {
      this.actions[index] = action
      let foo = { id: this.id, 'actions': this.actions }
      this.$store.dispatch('hospitaal/updateActions', { actions: foo }).then(r => { this.$q.notify('action has been updated') })
    },
    deleteAction: function (action, index) {
      this.actions.splice(index, 1)
      let foo = { id: this.id, 'actions': this.actions }
      this.$store.dispatch('hospitaal/updateActions', { actions: foo }).then(r => { this.$q.notify('action has been deleted') })
    },
    newAction: function (action) {
      this.actions.push(action)
      let foo = { id: this.id, 'actions': this.actions }
      this.$store.dispatch('hospitaal/updateActions', { actions: foo }).then(r => { this.$q.notify('action has been added') })
    }
  },
  created: function () {
    this.getPatient().then(result => { this.patient = result; this.gotPat = true }).catch(e => { this.gotPat = false; this.patient = { name: 'onbekend' }; this.$q.notify('could not find patient') })
    this.getActions().then(result => { this.actions = result.actions })
  },
  watch: {
    id: function () {
      this.getPatient().then(result => { this.patient = result; this.gotPat = true }).catch(e => { this.gotPat = false; this.patient = { name: 'onbekend' }; this.$q.notify('could not find patient') })
      this.getActions().then(result => { this.actions = result.actions })
    },
    patient: function () {
      this.getActions().then(result => { this.actions = result.actions })
      this.getRoom().then(result => { this.ward = result[0] })
    }
  },
  computed: {
    roomnumber: function () {
      let rooms = this.ward.rooms
      if (rooms === undefined) {
        return 'unknown'
      }
      return rooms.filter(r => r.patientId === this.patient.id)[0].id
    },
    visActions: function () {
      if (this.comps) {
        return this.actions
      }
      return this.actions.filter(a => a.completed !== true)
    }
  }
}
</script>

<style scoped>
  .patientData{
    display: flex;
  }
  .q-avatar{
    margin-right: 3vw;
  }
  .info{
    margin-top: 2vh;
  }
  .low-margin{
    margin: 10px;
  }
</style>
