
<template>
  <q-page padding>
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/"></q-breadcrumbs-el>
      </q-breadcrumbs>
    </div>
    <h3 class="center">selecteer een afdeling</h3>
    <div class="flex">
      <q-card v-for="ward in wards" :key="ward.id" v-on:click="redir(ward.name)" bordered ><div>{{ward.name}}</div></q-card>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'PageIndex',
  data: function () {
    return {
      selectedWard: 'Selecteer een afdeleing',
      label: 'Afdeling'
    }
  },
  created: function () {
    this.$store.dispatch('hospitaal/fetchWards', { self: this })
  },
  computed: {
    wards: function () {
      return this.$store.getters['hospitaal/getWards']
    },
    wardNames: function () {
      return this.wards.map(w => w.name)
    }
  },
  methods: {
    redir: function (name) {
      this.$router.push('/wards/' + name)
    }
  }
}
</script>

<style scoped>
  .q-card{
    width: 25vw;
    height: 20vh;
    margin-left: 3vw;
    margin-top: 3vh;
  }

  .q-card--dark{
    background-color: darkslategray;
  }

  .center{
    margin-left: 25%;
  }
</style>
