<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <q-page padding>
    <!-- content -->
    <q-toggle
      color="purple"
      :value="$q.dark.isActive"
      @input="darkmode"
      label="Dark Mode"
    ></q-toggle>
    <q-form @submit="onSubmit" @reset="onReset">
      <!--empty color picker-->
      <div class="flex center">
        <q-input
          filled
          v-model="settings.emptyColor"
          :rules="['anyColor']"
          label="empty room color"
        >
          <template v-slot:append="">
            <q-icon name="colorize" class="cursor-pointer">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-color v-model="settings.emptyColor"></q-color>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="colorDisplay" :style="{ backgroundColor: settings.emptyColor }"></div>
      </div>
      <!--taken color picker-->
      <div class="flex center">
        <q-input
          filled
          v-model="settings.takenColor"
          :rules="['anyColor']"
          label="empty room color"
        >
          <template v-slot:append="">
            <q-icon name="colorize" class="cursor-pointer">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-color v-model="settings.takenColor"></q-color>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="colorDisplay" :style="{ backgroundColor: settings.takenColor }"></div>
      </div>
      <!--warning color picker-->
      <div class="flex center">
        <q-input
        filled
        v-model="settings.warningColor"
        :rules="['anyColor']"
        label="Warning color"
      >
        <template v-slot:append="">
          <q-icon name="colorize" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-color v-model="settings.warningColor"></q-color>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
        <div class="colorDisplay" :style="{ backgroundColor: settings.warningColor }"></div>
      </div>
      <!--severe warning color picker-->
      <div class="flex center">
        <q-input
          filled
          v-model="settings.severeWarningColor"
          :rules="['anyColor']"
          label="Severe warning color"
        >
          <template v-slot:append="">
            <q-icon name="colorize" class="cursor-pointer">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-color v-model="settings.severeWarningColor"></q-color>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="colorDisplay" :style="{ backgroundColor: settings.severeWarningColor }"></div>
      </div>
      <!--crisis color picker-->
      <div class="flex center">
        <q-input
        filled
        v-model="settings.crisisColor"
        :rules="['anyColor']"
        label="Crisis color"
      >
        <template v-slot:append="">
          <q-icon name="colorize" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-color v-model="settings.crisisColor"></q-color>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
        <div class="colorDisplay" :style="{ backgroundColor: settings.crisisColor }"></div>
      </div>
      <q-input v-model.number="settings.minHeartrate" type="number" filled label="Minumum hearthrate" style="margin-bottom: 20px"></q-input>
      <q-input v-model.number="settings.maxHeartrate" type="number" filled label="Maximum hearthrate" style="margin-bottom: 20px"></q-input>
      <q-input v-model="settings.minBloodPressure" type="text" filled label="Minumum bloodpressure" :rules="[val => (val.match('[0-9]+\/[0-9]+') && (parseInt(settings.maxBloodPressure.match('([0-9]+)\/([0-9]+)')[1]) > parseInt(val.match('([0-9]+)\/([0-9]+)')[1]) && parseInt(settings.maxBloodPressure.match('([0-9]+)\/([0-9]+)')[2]) > parseInt(val.match('([0-9]+)\/([0-9]+)')[2]) )) || 'please enter in the right format: [0-9]+\\/[0-9]+ ']"></q-input>
      <q-input v-model="settings.maxBloodPressure" type="text" filled label="Maximum bloodpressure" :rules="[val => (val.match('[0-9]+\/[0-9]+') && (parseInt(settings.minBloodPressure.match('([0-9]+)\/([0-9]+)')[1]) < parseInt(val.match('([0-9]+)\/([0-9]+)')[1]) && parseInt(settings.minBloodPressure.match('([0-9]+)\/([0-9]+)')[2]) < parseInt(val.match('([0-9]+)\/([0-9]+)')[2]) )) || 'please enter in the right format: [0-9]+\\/[0-9]+ ']"></q-input>
      <q-toggle v-model="settings.roomNumber" label="kamernummer weergeven"></q-toggle>
      <q-toggle v-model="settings.facilities" label="faciliteiten weergeven"></q-toggle>
      <q-toggle v-model="settings.monitoring" label="monitoring weergeven"></q-toggle>
      <q-toggle v-model="settings.action" label="acties weergeven"></q-toggle>
      <q-toggle v-model="settings.patient" label="patient weergeven"></q-toggle>
      <q-toggle v-model="settings.alarm" label="alarm geluid"></q-toggle>
      <div>
        <q-btn label="Submit" type="submit" :color="btncolor"></q-btn>
        <q-btn label="Reset" type="reset" outline class="q-ml-sm" :color="btncolor"></q-btn>
      </div>
    </q-form>
  </q-page>
</template>

<script>
export default {
  name: 'Settings',
  data: function () {
    return {
      settings: {},
      initialSettings: {}
    }
  },
  mounted: function () {
    this.$store.getters['hospitaal/getSettings'].then((result) => {
      this.settings = { ...result.data }
      this.initialSettings = result.data
    })
  },
  methods: {
    darkmode: function () {
      this.settings.darkMode = !this.settings.darkMode
      this.$store.dispatch('hospitaal/updateSettings', { self: this })
      this.$q.dark.set(this.settings.darkMode)
      this.$store.getters['hospitaal/getSettings'].then((result) => {
        this.settings = result.data
      })
    },
    onSubmit: function () {
      this.settings.warningColorHSL = toHsl(this.settings.warningColor)
      this.settings.severeWarningColorHsl = toHsl(this.settings.severeWarningColor)
      this.$store.dispatch('hospitaal/updateSettings', { self: this }).then(r => { this.$q.notify('settings have been updated') })
      this.initialSettings = { ...this.settings }
    },
    onReset: function () {
      this.initialSettings.darkMode = this.settings.darkMode
      this.settings = { ...this.initialSettings }
    }
  },
  computed: {
    btncolor: function () {
      if (!this.$q.dark.isActive) {
        return 'blue'
      } else {
        return 'purple'
      }
    }
  }
}
function toHsl (hex) {
  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)

  var r = parseInt(result[1], 16)
  var g = parseInt(result[2], 16)
  var b = parseInt(result[3], 16)

  r /= 255
  g /= 255
  b /= 255
  var max = Math.max(r, g, b), min = Math.min(r, g, b)
  var h, s, l = (max + min) / 2

  if (max === min) {
    h = s = 0 // achromatic
  } else {
    var d = max - min
    s = l > 0.5 ? d / (2 - max - min) : d / (max + min)
    switch (max) {
      case r:
        h = (g - b) / d + (g < b ? 6 : 0)
        break
      case g:
        h = (b - r) / d + 2
        break
      case b:
        h = (r - g) / d + 4
        break
    }
    h /= 6
  }

  s = s * 100
  s = Math.round(s)
  l = l * 100
  l = Math.round(l)
  h = Math.round(360 * h)

  return 'hsl(' + h + ', ' + s + '%, ' + l + '%)'
}
</script>

<style scoped>
  .q-input {
    width: 40vw;
  }
  .colorDisplay {
    margin-left: 2vw;
    width: 5vw;
    height: 5vh;
  }

  .center {
    align-items: baseline;
  }
</style>
