<template>
  <q-page padding>
    <!-- content -->
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/"></q-breadcrumbs-el>
        <q-breadcrumbs-el :label="currentWard.name" icon="widgets"></q-breadcrumbs-el>
      </q-breadcrumbs>
      <q-toggle v-model="showMap" label="view as map"></q-toggle>
    </div>
    <room-list
      v-if="!showMap"
      :rooms="selectedWardRooms"
      @alert="alert"
      @solved="solved"
    >
    </room-list>
    <room-map v-if="showMap"
              :rooms="selectedWardRooms"
              @alert="alert"
              @solved="solved">
    </room-map>
  </q-page>
</template>

<script>
import RoomMap from '../components/RoomMap'
import RoomList from '../components/RoomList'
export default {
  // name: 'PageName',
  components: {
    RoomMap,
    RoomList
  },
  props: {
    name: String
  },
  data: function () {
    return {
      showMap: false,
      currentWard: { id: '' },
      player: new Audio('statics/Recources/alarm.mp3'),
      settings: this.$store.getters['hospitaal/getSettings']
    }
  },
  computed: {
    ward: function () {
      let bar = this.$store.getters['hospitaal/getWards'].find(w => w.name === this.name)
      if (bar !== undefined) {
        return bar
      }
      return { id: '' }
    },
    selectedWardRooms: function () {
      if (this.currentWard !== { id: '' }) {
        return this.ward.rooms
      }
      return []
    }
  },
  created () {
    this.$store.dispatch('hospitaal/fetchWards', { self: this })
    this.$store.dispatch('hospitaal/fetchSettings', { self: this })
    this.$store.getters['hospitaal/getSettings'].then((result) => { this.settings = result.data; this.$q.dark.set(this.settings.darkMode) })
    this.player.loop = true
  },
  watch: {
    name: function () {
      if (this.ward !== undefined) {
        this.currentWard = this.ward
      } else {
        this.currentWard = { id: '' }
      }
    },
    ward: function () {
      this.currentWard = this.ward
    }
  },
  methods: {
    alert: function () {
      if (this.settings.alarm) {
        this.player.play()
      }
    },
    solved: function () {
      this.player.pause()
    }
  }
}
</script>
