<template>
  <q-item tag="label">
    <q-item-section>
      <q-input type="text" :disable="disabled" v-model="actie.description" label="omschrijving"></q-input>
      <q-item-label caption><q-select :disable="disabled" type="text" v-model="actie.type" :options="types" label="type"></q-select></q-item-label>
    </q-item-section>
    <q-item-section>
      <q-input type="time" :disable="disabled" v-model="actie.tijdstip" label="tijdstip"></q-input>
    </q-item-section>
    <q-item-section side top>
      <q-toggle color="green" v-model="actie.completed" label="completed"></q-toggle>
      <q-btn color="blue" label="updaten" @click="$emit('update', actie)"></q-btn>
      <q-icon style="margin-top: 5px" color="red" @click="del" name="fas fa-trash"></q-icon>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      actie: { ...this.action },
      types: ['eten', 'wassen', 'omkeren']
    }
  },
  props: {
    action: { type: Object, default: function () { return { type: 'eten', description: '', completed: false, tijdstip: '00:00' } } },
    disabled: Boolean
  },
  watch: {
    action: function () {
      this.actie = { ...this.action }
      let reg = this.action.tijdstip.match('(^[0-9]{1,2})(:)([0-9]{1,2}$)')
      this.actie.datum = new Date()
      this.actie.datum.setHours(reg[1], reg[3])
    }
  },
  methods: {
    del: function () {
      if (!this.disabled) {
        this.$emit('delete', this.action)
      }
    }
  }
}
</script>
