<template>
  <q-card
    class="room"
    bordered
    :dark="$q.dark.isActive"
    @click="redir(room.patientId)"
    :style="getCardCollor()"
    :class="alertClass()"
  >
    <div class="fill" v-if="room.patientId !== null">
      <div class="left-top" v-if="settings.roomNumber">{{room.id}}</div>
      <div class="iconlist left-center" v-if="settings.facilities">
        <q-icon  v-for="icon in room.facilities" :key="icon" :name="icon"></q-icon>
      </div>
      <div class="top-center" v-if="settings.patient">{{patient.name}}</div>
      <div class="center" v-if="settings.monitoring">
        <q-icon name="ion-heart"></q-icon>{{patient.hearthrate}}
        <q-icon name="fas fa-tachometer-alt"></q-icon>{{patient.bloodpressure}}</div>
    </div>
    <div class="center-right" v-if="settings.action">
      <div class="action">
        <div>{{nextAct.type}}</div>
        <div>{{nextAct.description}}</div>
        <div>{{nextAct.tijdstip}}</div>
      </div>
    </div>
  </q-card>
</template>

<script>
const interpolate = require('color-interpolate')
export default {
  // name: 'ComponentName',
  data () {
    return {
      patient: {},
      settings: this.$store.getters['hospitaal/getSettings'],
      actions: [],
      allert: false
    }
  },
  props: {
    room: {
      type: Object,
      default: function () { return {} }
    }
  },
  methods: {
    getPatient: function () {
      if (this.room.patientId !== null) {
        return this.$store.dispatch('hospitaal/getPatient', { self: this, patientId: this.room.patientId }).catch(e => { })
      } else {
        return new Promise(function (resolve, reject) { reject() })
      }
    },
    redir: function (patientId) {
      if (patientId !== null) {
        this.$router.push(this.$route.path + '/patient/' + patientId)
      }
    },
    getCardCollor: function () {
      let out = {
        '--crisis-col': this.settings.crisisColor
      }
      if (!this.allert) {
        if (this.room.patientId === null) {
          out.backgroudColor = this.settings.emptyColor
        } else if (this.patient.alarm) {
          out.backgroundColor = this.settings.crisisColor
        } else if (!this.checkActions()) {
          out.backgroundColor = this.warningColor
        } else {
          out.backgroundColor = this.settings.takenColor
        }
      }
      return out
    },
    getActivities: function () {
      return this.$store.dispatch('hospitaal/getActions', { self: this, patientId: this.patient.id }).catch(e => {})
    },
    alert: function () {
      this.$emit('alert')
    },
    solved: function () {
      this.$emit('solved')
    },
    checkActions: function () {
      let date = new Date()
      let currentDate = new Date()
      let act = 0
      for (let action of this.actions) {
        let reg = action.tijdstip.match('(^[0-9]{1,2})(:)([0-9]{1,2}$)')
        date.setHours(reg[1], reg[3])
        if ((((date - currentDate) / 60000) < this.settings.actionWarningtime) && !action.completed) {
          act++
        }
      }
      return act === 0
    },
    checkParams: function () {
      return (this.checkHearthRate() || this.checkBloodpressure())
    },
    checkHearthRate: function () {
      return (this.patient.hearthrate > this.settings.maxHeartrate || this.patient.hearthrate < this.settings.minHeartrate)
    },
    checkBloodpressure: function () {
      let checkmin = (parseInt(this.settings.minBloodPressure.match('([0-9]+)/([0-9]+)')[1]) > parseInt(this.patient.bloodpressure.match('([0-9]+)/([0-9]+)')[1]) && parseInt(this.settings.minBloodPressure.match('([0-9]+)/([0-9]+)')[2]) > parseInt(this.patient.bloodpressure.match('([0-9]+)/([0-9]+)')[2]))
      let checkMax = (parseInt(this.settings.maxBloodPressure.match('([0-9]+)/([0-9]+)')[1]) < parseInt(this.patient.bloodpressure.match('([0-9]+)/([0-9]+)')[1]) && parseInt(this.settings.maxBloodPressure.match('([0-9]+)/([0-9]+)')[2]) < parseInt(this.patient.bloodpressure.match('([0-9]+)/([0-9]+)')[2]))
      return (checkmin || checkMax)
    },
    alertClass: function () {
      if (this.allert) {
        return 'paniek'
      }
    }
  },
  watch: {
    room: function () {
      this.getPatient().then(result => { this.patient = result }).catch(e => { })
    },
    patient: function () {
      this.getActivities().then(result => { this.actions = result.actions }).catch(e => { })
      if (this.checkParams()) {
        if (!this.allert) {
          this.$emit('alert')
          this.allert = true
        }
      } else {
        if (this.allert) {
          this.$emit('solved')
          this.allert = false
        }
      }
    }
  },
  mounted: function () {
    this.$store.getters['hospitaal/getSettings'].then(result => { this.settings = result.data }).catch(e => { })
  },
  computed: {
    nextAct: function () {
      let diff = Infinity
      let date = new Date()
      let currentdate = new Date()
      let act = {
        type: '',
        description: 'geen actie nodig',
        tijdstip: ''
      }
      for (let action of this.actions) {
        let reg = action.tijdstip.match('(^[0-9]{1,2})(:)([0-9]{1,2}$)')
        date.setHours(reg[1], reg[3])
        if ((date - currentdate) < diff && !action.completed) {
          diff = date - currentdate
          act = action
        }
      }
      return act
    },
    warningColor: function () {
      let currDate = new Date()
      let colormap = interpolate([this.settings.warningColorHSL, this.settings.severeWarningColorHsl])
      let act = this.nextAct
      let reg = act.tijdstip.match('(^[0-9]{1,2})(:)([0-9]{1,2}$)')
      let date = new Date()
      date.setHours(reg[1], reg[3])
      let diff = date - currDate
      if (diff < 0) {
        return colormap(1)
      }
      return colormap(1 - (diff / 60000) / this.settings.actionWarningtime)
    }
  }
}
</script>
<!--suppress CssUnresolvedCustomProperty -->
<style scoped>
.room {
  width: 80vw;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid black;
}
.q-card--dark {
  background-color: darkslategray;
  border: 2px solid white;
}
  .fill{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .top-center{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 2px;
  }
  .center{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 50%;
  }
  .left-center{
    position: absolute;
    left: 2px;
    top: 10%;
    width: 100px;
  }
  .center-right{
    position: absolute;
    right: 2px;
    top: 35%;
  }
  .iconlist{
    font-size: 2em;
  }

  .q-icon{
    margin-right: 0.5vw;
    margin-left: 0.5vw;
  }
  .paniek{
    background-color: #F2C037;
    animation: color 0.3s infinite alternate;
  }
  @keyframes color {
    from{
      background-color: #F2C037;
    }
    to{
      background-color: var(--crisis-col);
    }
  }
  .action{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
</style>
