<template>
  <div class="list">
    <HospitalRoom
      v-for="room in rooms"
      :key="room.id"
      :room="room"
      @alert="alert"
      @solved="solved"
    ></HospitalRoom>
  </div>
</template>

<script>
import HospitalRoom from './HospitalRoom'
export default {
  // name: 'ComponentName',
  components: {
    HospitalRoom
  },
  data () {
    return {
      alerts: 0
    }
  },
  props: {
    rooms: {
      type: Array
    }
  },
  methods: {
    alert: function () {
      this.alerts += 1
    },
    solved: function () {
      if (this.alerts > 0) {
        this.alerts -= 1
      }
    }
  },
  watch: {
    alerts: function () {
      this.$emit('solved')
      if (this.alerts > 0) {
        this.$emit('alert')
      }
    }
  }
}
</script>
<style scoped>
.list {
  display: flex;
  flex-wrap: wrap;
}
</style>
