<template>
  <div class="map">
    <HospitalRoom
      v-for="room in rooms"
      :key="room.id"
      :room="room"
      @alert="alert"
      @solved="solved"
      class="room"
      :style="getStyle(room)"
    ></HospitalRoom>
  </div>
</template>

<script>
import HospitalRoom from './HospitalRoom'
export default {
  // name: 'ComponentName',
  components: {
    HospitalRoom
  },
  data () {
    return {
      alerts: 0
    }
  },
  props: {
    rooms: {
      type: Array
    }
  },
  methods: {
    alert: function () {
      this.alerts += 1
    },
    solved: function () {
      if (this.alerts > 0) {
        this.alerts -= 1
      }
    },
    getStyle: function (room) {
      return { left: room.x + 'px', width: (room.width * 200) + 'px', top: room.y + 'px', height: (room.height * 100) + 'px' }
    }
  },
  watch: {
    alerts: function () {
      this.$emit('solved')
      if (this.alerts > 0) {
        this.$emit('alert')
      }
    }
  }
}
</script>

<style scoped>
  .map{
    position: relative;
  }
  .room{
    position: absolute;
  }
</style>
