<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"></q-btn>

        <q-toolbar-title>
          Hospitaal App
        </q-toolbar-title>

        <div>Hospitaal v1.0.0</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label header>Dark Mode</q-item-label>
        <q-toggle
          color="purple"
          :value="$q.dark.isActive"
          @input="darkMode()"
        ></q-toggle>
        <q-item-label header>Quick Links</q-item-label>
        <q-item
          clickable
          tag="a"
          to="/"
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          tag="a"
          to="/settings"
        >
          <q-item-section avatar>
            <q-icon name="build" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
            <q-item-label caption>personize the app</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      settings: {}
    }
  },
  created: function () {
    this.$store.dispatch('hospitaal/fetchSettings', { self: this })
    this.$store.getters['hospitaal/getSettings'].then((result) => { this.settings = result.data; this.$q.dark.set(this.settings.darkMode) })
    clearInterval(this.$store.getters['hospitaal/getInterval'])
    this.$store.commit('hospitaal/SET_INTERVAL', setInterval(function () {
      this.$store.dispatch('hospitaal/fetchWards', { self: this })
    }.bind(this), 1000))
  },
  methods: {
    darkMode: function () {
      this.settings.darkMode = !this.settings.darkMode
      this.$store.dispatch('hospitaal/updateSettings', { self: this })
      this.$q.dark.set(this.settings.darkMode)
      this.$store.getters['hospitaal/getSettings'].then((result) => { this.settings = result.data })
    }
  }
}
</script>
